.service_drg_1_0_0 {
    margin-top: 40px;

    &__title {
        text-align: center;
        text-transform: uppercase;
        color: #166734;
        font-weight: 600;
        font-size: 1.5rem;
        margin-bottom: 40px;

        br {
            display: none;
        }
    }

    &__box {
        display: grid;
        grid-template-columns: 40% 56%;
        gap: 20px;
    }

    &__boxLeft {
        img {
            width: 100%;
            height: auto;
            display: block;
            border-radius: 30px;
        }
    }

    &__boxRight {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__item {
        width: calc(50% - 10px);
        position: relative;

    }

    &__pic {
        img {
            width: 100%;
            height: auto;
            display: block;
            border-radius: 30px;
        }
    }

    &__name {
        text-align: center;
        background-color: #21AA50;
        color: #fff;
        border-radius: 50px;
        text-transform: uppercase;
        font-size: 1.1rem;
        padding: 10px 5px;
        border: 1px solid #DEB407;
        position: absolute;
        bottom: 2px;
        width: 100%;
    }

    @media (max-width: 1024px) {
        &__name {
            font-size: 1rem;
        }
    }

    @media (max-width: 767px) {
        &__title {
            margin-bottom: 15px;
            font-size: 1.3rem;
        }

        br {
            display: block;
        }

        &__box {
            grid-template-columns: 100%;
        }

        &__name {
            padding: 0px 15px;
            position: relative;
            margin-top: -30px;
            border-radius: 15px;
            line-height: 18px;
            border: none;
            min-height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__boxLeft {
            display: none;
        }

        &__boxRight {
            gap: unset;
        }

        &__item {
            padding: 0 10px 10px 10px;
            width: 50%;
        }

        &__pic img {
            border-radius: 18px;
        }
    }

    @media (max-width: 390px) {
        &__name {
            font-size: 0.8rem;
        }
    }
}