.header_drg_1_0_0 {
  width: 100%;
  &.fixToTop{
    transition: all 0.2s ease-in-out;
    position: fixed;
    top: 0;
  }
  &.valueTop{
    top: -142px !important;
  }
  &.nonTop{
    animation: aniNontop 0.3s ease-in-out;
  }
  img {
    width: 100%;
    height: auto;
    display: block;
  }
  &__top {
    background-color: #eaf5ed;
    padding: 10px 0;
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__toggle {
    display: none;
  }
  &__logo {
    margin: 0;
    max-width: 167px;
    width: 100%;
  }
  &__search {
    position: relative;
    border: 1px solid #abb2b9;
    border-radius: 55px;
    width: 350px;
    padding: 7px 0;
    span {
      color: #abb2b9;
      font-size: 14px;
    }
  }
  &__placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__icon {
    width: 24px;
  }
  &__input {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    background-color: transparent;
    width: calc(100% - 20px);
    height: 100%;
    margin: 0 10px;
  }
  &__hotline {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    color: #166734;
  }
  &__regis {
    border: none;
    background-color: #e64a64;
    color: #fff;
    text-transform: uppercase;
    border-radius: 55px;
    padding: 3px 13px;
    transition: all 0.2s linear;
    cursor: pointer;
    &:hover{
      background-color: #da0a2d;
    }
  }
  &__searchBtn {
    display: none;
  }
  &__nav {
    background-color: #21aa50;
  }
  &__menu {
    position: relative;
  }
  &__link {
    position: relative;
    text-transform: uppercase;
    display: block;
    width: 100%;
    z-index: 1;
    &--1 {
      color: #fff;
      padding: 10px;
      transition: all 0.2s linear;
      &:hover{
        background-color: #166734;
      }
    }
  }
  &__submenu {
    position: absolute;
    width: 250px;
    background-color: #fff;
    box-shadow: 0 0 4px 0 #ccc;
    z-index: 1;
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      li {
        padding: 5px 10px;
        text-transform: uppercase;
        a {
          width: 100%;
          display: block;
        }
        &:hover {
          background-color: #e9e8e8;
        }
      }
    }
  }
  &__subitem {
    position: relative;
  }
  &__regisMb {
    display: none;
  }
  &__bg {
    display: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    &__modalSearch{
      display: none;
    }
  }
  @media (max-width: 1024px) {
    &.valueTop{
      top: -80px !important;
    }
    &__logo{
      max-width: 125px;
    }
    &__toggle {
      display: block;
      border: none;
      background-color: transparent;
      width: 30px;
      padding: 0;
      cursor: pointer;
    }
    &__search,
    &__hotline,
    &__regis {
      display: none;
    }
    &__searchBtn {
      display: block;
      border: none;
      background-color: transparent;
      width: 38px;
      padding: 0;
      cursor: pointer;
    }
    &__nav {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      max-width: 280px;
      height: 100vh;
      overflow-y: auto;
      padding-top: 15px;
      transform: translateX(-100%);
      transition: all 0.2s linear;
      z-index: 2;
      &.show {
        transform: translateX(0);
      }
      .header_drg_1_0_0__inner {
        flex-direction: column;
        align-items: flex-start;
      }
      .container {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
      }
    }
    &__menu {
      width: 100%;
      &.active {
        .header_drg_1_0_0__submenu {
          display: block;
        }
      }
    }
    &__link {
      color: #fff;
      padding: 7px 15px;
      transition: 0.2s linear all;
      &--2 {
        padding-left: 14px;
      }
      &--3 {
        padding-left: 21px;
      }
      &:hover{
        background-color: transparent;
      }
    }
    &__submenu {
      display: none;
      position: static;
      box-shadow: none;
      width: 100%;
      background-color: #166734;
      padding: 5px 0;
      ul {
        li {
          color: #fff;
          padding: 5px 20px;
          a {
            color: #fff;
          }
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
    &__regisMb {
      display: block;
      border: none;
      border-radius: 55px;
      padding: 3px 10px;
      background-color: #deb407;
      text-transform: uppercase;
      font-weight: 600;
      margin: 20px 10px 0;
      cursor: pointer;
    }
    &__bg {
      display: none;
    }
    &__backdrop {
      background-color: rgb(0 0 0 / 40%);
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      display: none;
      z-index: 1;
    }
    &__modalSearch{
      padding-top: 10%;
      align-items: flex-start;
      .modal-box{
        width: 480px;
      }
    }
    &__modalTitle{
      text-align: center;
      color: #166734;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 20px;
    }
    &__modalGroup{
      width: 90%;
      margin: 20px auto;
      position: relative;
      input{
        width: 100%;
        padding: 5px 40px 5px 10px;
        border-radius: 4px;
        border: 1px solid #166734;
        background: #fff;
      }
      button{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background: #deffea;
        border: none;
        width: 38px;
        border-radius: 0 4px 4px 0;
        cursor: pointer;
        line-height: 0;
        border: 1px solid #166734;
        img{
          width: 100%;
          height: auto;
          display: block;
        }
      }
    }
  }
}

@keyframes aniNontop {
  0%{
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}