.slider_drg_1_0_0 {
    position: relative;

    img {
        opacity: 0.5;
        visibility: hidden;
        transition: 0.2s all ease-in-out;
        width: 100%;
        height: auto;
        display: flex;

        &.ani {
            opacity: 1;
            visibility: visible;
        }
    }

    .pagination {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;

        &__item {
            background-color: #ffffff80;
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            margin: 0 5px;
            line-height: 1;
            cursor: pointer;

            &.active {
                background-color: #fff;
            }
        }
    }

    @media (max-width: 768px) {
        .pagination {
            bottom: 5px;

            &__item {
                width: 20px;
                height: 20px;
                font-size: 14px;
            }
        }
    }
}