.value_drg_1_0_0 {
    &__title {
        text-align: center;
        background-color: #21AA50;
        color: #fff;
        border-radius: 50px;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 600;
        padding: 10px 20px;
        border: 1px solid #DEB407;
        width: max-content;
        display: block;
        margin: 40px auto;
    }

    &__box {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__item {
        width: calc(50% - 10px);
        display: flex;
        gap: 20px;
        background: #EAF5ED;
        border-radius: 0 30px 30px 0;
        box-shadow: 0px 6px #ededed;
    }

    &__pic {
        width: 30%;

        img {
            width: 100%;
            height: auto;
            display: block;
            border-right: 6px solid #DEB407;
        }
    }

    &__content {
        flex: 1;
        padding: 40px 10px 40px 0;
    }

    &__itemTitle {
        text-transform: uppercase;
        color: #166734;
        font-weight: 600;
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    &__text {
        color: #166734;
        font-size: 1rem;
    }

    @media (max-width: 1200px) {
        &__item {
            gap: 12px;
        }

        &__pic {
            width: 42%;
        }

        &__content {
            padding: 28px 10px 28px 0;
        }
    }

    @media (max-width: 990px) {
        &__itemTitle {
            font-size: 1rem;
        }

        &__text {
            font-size: 0.9rem;
        }
    }

    @media (max-width: 820px) {
        &__itemTitle {
            margin-bottom: 4px;
        }

        &__content {
            padding: 12px 10px 12px 0;
        }
    }

    @media (max-width: 768px) {
        &__content {
            padding: 12px 10px 0 0;
        }
    }

    @media (max-width: 600px) {
        &__item {
            width: 100%;
            gap: unset;
            margin-bottom: 18px;
        }

        &__content {
            padding: 12px 10px 0 12px;
        }

        &__box {
            gap: unset;
        }
    }

    @media (max-width: 390px) {
        &__title {
            font-size: 1.1rem;
            margin: 20px auto;
        }

        &__text {
            font-size: 0.8rem;
        }
    }
}